* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(135deg, #74ebd5, #9face6);
}
.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
input {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4a6cf7;
    color: white;
}

button:hover {
    background-color: #3b5bdb;
}
#resultado {
    text-align: center;
    font-size: 16px;
}
@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }
}